body {
background-image:url("output-onlinegiftools.gif");
background-size: cover;

}

.button{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  bottom: -205px;
  right: -376px;
  opacity: 0;
}

.button-2{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  bottom: -225px;
  right: -376px;
  opacity: 0;
}